:root {
	
	--color_naranja: #fd614a;
	--color_celeste: #2ba6cb;
	--color_gris_suave: #e6e3e3;
	--color_amarillo: #ffae00;
	--color_back: #eeeeeed1;

	--color_facebook: #3b5998;
	--color_twitter: #1da1f2;
	--color_youtube: #ff0000;
	--color_instagram: #c32aa3;
	--color_linkedin: #007bb5;
	--color_google: #4285f4;
	--color_whatsapp: #25d366;
	--color_spotify: #1ed760;
	--color_github: #6e5494;
}

$prop: 1.5rem; 

//FONTS

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Montserrat:400,800');

//BASE

*{
    box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	margin: 0;
	font-size: 16px;
	color: #3d3d3d;
    background-color: var(--color_back);
}

h1, h2, h3, h4{
	margin-bottom: .5rem;
	margin-top: 0;
}